@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

$Primary-font: 'REM', sans-serif;
$First-color: #2779a7;
$Second-color: #49c5b6;
$Third-color: #D14836;
$White-color: #ffffff;
$Black-color: #000000;
$Box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
$Box-shadow2: rgba(149, 157, 165, 0.2) 0px 8px 24px;
