@import "./DATA.scss";

.Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 4rem 0;
    width: 100%;

    .contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.5rem;
            letter-spacing: 4px;
        }

        p {
            display: flex;
            flex-direction: row;
            font-size: 1.5rem;
            gap: 1rem;

            span {
                font-size: 1.25rem;
            }
        }
    }

    .socialLinks {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0;
        margin: 0;

        a {
            padding: 0;
            margin: 0;

            svg {
                width: 2.5rem;
                height: auto;
                cursor: pointer;
                color: $Third-color;

                &:hover {
                    color: $Second-color;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .Footer {
        flex-direction: column;
        gap: 3rem;
    }
}