@import "./DATA.scss";

.Navbar {
    display: flex;
    background-color: #f8f8f8;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navItems {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.logo:hover {
    color: $Black-color;
}

.menuBtn {
    display: none;
}

.pages {
    display: flex;
    gap: 2rem;
}

.link {
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    text-decoration: none;
}

.link:hover {
    color: $Black-color;
}

.close {
    display: none;
}

.closeBtn {
    display: none;
}

.homeLi {
    display: none;
}

@media only screen and (max-width: 900px) {
    * {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }

    .pages {
        display: none;
    }

    .menuBtn {
        display: contents;
    }

    .menuBtn>button {
        border: none;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
        height: 3rem;
        width: 3rem;
        background: transparent;
    }

    .menuBtn>button>svg {
        width: 100%;
        height: 100%;
        color: white;
    }

    .menuBtn>button>svg:hover {
        color: $Black-color;
    }

    #open {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $White-color;
        box-shadow: $Box-shadow;
        height: 55%;
        width: 60%;
        margin: auto;
        padding: 2rem;
        justify-content: space-around;
        border: none;
        border-radius: 10px;
        z-index: 1;
    }

    #open .link {
        display: flex;
        position: relative;
        color: $Black-color;
        align-self: center;
        font-size: 2rem;
        font-weight: 500;
    }

    #open .link:hover {
        color: $Third-color;
    }

    .closeBtn {
        display: contents;
        position: relative;
        background-color: $Second-color;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        border-radius: 15px;
        padding: 0.3rem 1rem;

        svg{
            font-size: 2rem;
        }
    }

    .homeLi {
        display: contents;
    }
}