@import "./DATA.scss";

.Navbar {
    display: flex;
    background-color: #ffffff;
    height: 3.5rem;
    position: fixed;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.Nav-scroll {
    transition: 1s ease;
    background-color: $Second-color;
}

.navItems {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo>svg {
    color: #32127A;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: 1s ease;
}

.logo:hover {
    color: #E30B5C;
}

.menuBtn {
    display: none;
}

.pages {
    display: flex;
    gap: 2rem;
}

.link {
    color: #00563B;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.link:hover {
    box-shadow: 0px 0px 5px rgb(189, 189, 189);
    color: #E30B5C;
}

.navItems-scrolled {
    color: black;
    background: none;
}

.navItems-scrolled:hover {
    color: white;
    box-shadow: 0px 0px 5px rgb(225, 225, 225);
}

.close {
    display: none;
}

.closeBtn {
    display: none;
}

.homeLi {
    display: none;
}

@media only screen and (max-width: 900px) {
    * {
        font-size: 14px;
    }

    .pages {
        gap: 1.25rem;
    }
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 12px;
    }

    .pages {
        display: none;
    }

    .menuBtn {
        display: contents;
    }

    .menuBtn>button {
        border: none;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
        height: 3rem;
        width: 3rem;
        background: transparent;
    }

    .menuBtn>button>svg {
        width: 100%;
        height: 100%;
        color: rgb(0, 0, 0);
    }

    #open {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $White-color;
        box-shadow: $Box-shadow;
        height: 55%;
        width: 60%;
        margin: auto;
        padding: 2rem;
        justify-content: space-around;
        border: none;
        border-radius: 10px;
        z-index: 1;
        gap: 0;
    }

    #open .link {
        display: flex;
        position: relative;
        color: $Black-color;
        align-self: center;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
    }

    #open .link:hover {
        color: $First-color;
        box-shadow: 0px 0px 2px $First-color;
    }

    .closeBtn {
        display: contents;
        position: relative;
        background-color: $Second-color;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        border-radius: 15px;
        padding: 0.3rem 1rem;

        svg {
            font-size: 2rem;
        }
    }

    .homeLi {
        display: contents;
    }
}